body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #fefefe;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background-color: #f26843;
  background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border: none;
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.button:hover,
.button:focus {
  background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  box-shadow: inset 0 2px 2px #942718;
  background-color: rgba(0, 0, 0, 0.07);
  background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}

.site-wrapper {
  background-position: top center;
  background-repeat: no-repeat;

  transition: background-color 1s ease;
}

.main-header {
  width: 900px;

  margin: 0 auto;
}

.index-page {
  width: 900px;
  min-height: 881px;

  background-position: top center;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  width: 860px;

  margin-left: 20px;
  padding-top: 9px;
}

.navigation-wrapper {
  display: flex;
  flex-direction: row;
}

.main-navigation {
  display: flex;
}

.site-navigation,
.user-navigation,
.catalog-sub-menu {
  list-style: none;

  margin: 0;
  padding: 0;
}

.site-navigation a,
.user-navigation a,
.catalog-sub-menu a {
  color: #ffffff;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 376px;
  position: relative;
  z-index: 2;

  line-height: 18px;
  color: #ffffff;

  margin-top: 13px;
  margin-left: 10px;
  margin-right: 58px;
}

.site-navigation a {
  display: inline-block;

  padding: 9px 13px 10px 14px;

  background-color: transparent;
  border-radius: 80px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #000000;

  background-color: #f7f6f3;;

  text-decoration: none;
}

.site-navigation a:active {
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
}

.catalog-sub-menu {
  display: none;
  position: absolute;
  left: -6px;
  width: 143px;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  margin-top: 5px;

  background-color: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

.catalog-sub-menu li:first-child {
  position: relative;
}

.catalog-sub-menu li:first-child::after {
  width: 128px;
  height: 1px;
  content: "";
  position: absolute;
  top: 38px;
  left: 6px;

  background-color: rgba(50, 50, 50, 0.2);
}

.catalog-sub-menu a {
  padding-top: 11px;
  padding-bottom: 11px;
}

.catalog-sub-menu a {
  color: #000000;

  padding-left: 21px;

  text-decoration: none;
}


.catalog-sub-menu a:hover,
.catalog-sub-menu a:focus {
  background-color: #fbded7;
}

.catalog-sub-menu a:active {
  box-shadow: none;
  background-color: #f6b5a5;
}

.catalog-sub-menu li:hover,
.catalog-sub-menu li:focus {
  background-color: #fbded7;
}

.catalog-sub-menu li:active {
  box-shadow: none;
  background-color: #f6b5a5;
}

.catalog-menu-top:hover .catalog-sub-menu,
.catalog-menu-top:focus .catalog-sub-menu {
  display: block;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 262px;

  margin-top: -3px;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.user-navigation li {
  background-color: rgba(255, 255, 255, 0.2);
}

.user-navigation li:hover,
.user-navigation li:focus {
  color: #000000;

  background-color: #f8f7f4;
  cursor: pointer;
}

.search-form:hover path,
.search-form:focus path,
.login-form:hover path,
.login-form:focus path,
.basket:hover g,
.basket:focus g {
  fill: #000000;
}

.search-form {
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  border-radius: 50%;
  z-index: 10;
}

.search-button {
  width: 33px;
  height: 33px;
  position: relative;

  font-size: 0;

  border: none;
  border-radius: 50%;
  background-color: transparent;
}

.search-button:hover,
.search-button:focus {
  background-color: #f8f7f4;
}

.search-button::before {
  width: 9px;
  height: 9px;
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;

  border: 2px solid #ffffff;
  border-radius: 50%;
}

.search-button::after {
  width: 2px;
  height: 9px;
  content: "";
  position: absolute;
  top: 17px;
  left: 21px;

  background-color: #ffffff;
  transform: rotate(-45deg);
}

.search-button:hover::before,
.search-button:focus::before {
  border: 2px solid rgba(51, 51, 51, 1);
}

.search-button:hover::after,
.search-button:focus::after {
  background-color: rgba(51, 51, 51, 1);
}

.search-button:hover ~ .search-wrapper,
.search-button:focus ~ .search-wrapper {
  display: block;
}

.search-wrapper {
  width: 341px;
  display: none;
  position: absolute;
  top: 36px;
  right: 0;

  padding: 20px 15px;

  background-color: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  box-sizing: border-box;
}

.search-wrapper:hover,
.search-wrapper:focus {
  display: block;
}

.user-navigation .search-field {
  margin-bottom: 0;
}

.form-label {
  position: relative;
}

.form-field {
  width: 100%;
  display: inline-block;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.3px;
  color: #999999;

  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 15px;
  margin-bottom: 20px;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  outline: none;
}

.form-field:focus {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #323232;
}

.form-field:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.form-field:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.search-field:focus ~ .search-tip,
.mail-field:focus ~ .mail-tip,
.password-field:focus ~ .password-tip,
.name-field:focus ~ .name-tip {
  display: block;
}

.form-tip {
  display: none;
  position: absolute;
  top: -30px;
  left: 16px;

  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  color: #5b9ddf;

  margin: 0;
  padding: 0;
}

.login-form {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;

  width: 93px;
  height: 33px;

  border-radius: 50px;
}

.login-wrapper {
  width: 277px;
  position: absolute;
  top: 36px;
  right: 0;

  padding-top: 20px;
  padding-left: 19px;
  padding-right: 17px;
  padding-bottom: 22px;

  background-color: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  box-sizing: border-box;
}

.login-wrapper input {
  width: 223px;
  display: inline-block;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.3px;
  color: #999999;

  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 15px;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  outline: none;
}

.login-wrapper a {
  display: inline-block;

  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;

  margin-top: 3px;

  text-decoration: underline;
}

.login-wrapper a:hover,
.login-wrapper a:focus {
  color: #e84d37;
}

.login-wrapper button {
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.login-form .login-wrapper {
  display: none;
}

.login-form:hover .login-wrapper {
  display: block;
}

.login-enter:focus ~ .login-wrapper {
  display: block;
}

.login-form svg {
  margin-left: 16px;
  margin-right: 7px;
}

.form-block {
  display: flex;
}

.login-help {
  margin-left: 20px;
}

.login-enter,
.basket-button {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;

  padding: 0;

  background-color: transparent;
  border: none;
}

.login-form:hover .login-enter,
.login-form:focus .login-enter {
  color: #000000;
}

.basket {
  display: flex;
  align-items: center;
  width: 117px;
  height: 32px;

  border-radius: 50px;
}

.basket svg {
  margin-left: 16px;
  margin-right: 8px;
}

.basket:hover .basket-button,
.basket:focus .basket-button {
  color: #000000;
}

.contacts-info {
  width: 168px;

  font-size: 14px;
  line-height: 16px;
  text-align: right;

  margin: 0;
  margin-left: auto;
}

.contacts-info span {
  display: inline-block;

  font-size: 22px;
  line-height: 24px;

  margin-top: 4px;
}

.container {
  width: 900px;

  margin: 0 auto;
}

.slider {
  position: absolute;
  top: 83px;
  z-index: 1;
}

.slider-list {
  width: 900px;

  list-style: none;

  margin: 0;
  padding: 0;
}

.slider-item {
  position: relative;
  display: flex;
  justify-content: center;

  min-height: 584px;
}

.slider-item {
  display: none;
}

.slider-item img {
  position: absolute;
}

.slider-item h3 {
  position: absolute;
  top: 310px;
  z-index: 1;

  font-size: 60px;
  line-height: 60.35px;

  margin: 0;

  text-align: center;
}

.slider-item h3 {
  width: 675px;
}

.slider-item-3 h3 {
  width: 650px;
}

.slider-item a {
  position: absolute;
  bottom: 61px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42px;
  padding-right: 42px;

  font-size: 32px;
  font-weight: 700;
  line-height: 44px;

  border-radius: 70px;
}

.slider-toggles {
  width: 88px;
  display: flex;
  position: absolute;
  z-index: 20;
  top: 480px;
  left: 20px;

  margin: 0;
}

.slider-toggles label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  font-size: 0;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-toggles label:hover,
.slider-toggles label:focus {
  background-color: rgba(248, 247, 244, 0.4);
}

.slider-input {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

#product-1:checked ~ .site-wrapper .slider-item-1,
#product-2:checked ~ .site-wrapper .slider-item-2,
#product-3:checked ~ .site-wrapper .slider-item-3 {
  display: flex;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-bg-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-bg-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-bg-3.png");
}

.promotion {
  position: relative;
  z-index: 2;

  margin-top: -290px;
  margin-bottom: 31px;
}

.promotion-list {
  display: flex;
  justify-content: space-between;

  list-style: none;

  margin: 0;
  padding: 0;
  margin-left: 19px;
  margin-right: 20px;
  margin-top: 55px;
}

.promotion-list li {
  display: flex;
  flex-direction: column;
  width: 420px;

  border-radius: 15px;
}

.promotion-list h3 {
  font-size: 35px;
  line-height: 41px;

  margin: 0;
  padding: 0;
  padding-top: 17px;
  padding-left: 19px;
  margin-bottom: 15px;
}

.promotion-list p {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;

  margin: 0;
  padding: 0;
  margin-left: 21px;
  margin-bottom: 23px;
}

.promotion-list a {
  display: inline-block;

  padding: 10px 22px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: 21px;
}

.raspberry {
  background-color: #390108;
  background-image: url("../img/raspberry-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.chocolate {
  background-color: #482512;
  background-image: url("../img/chocolate-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.catalog {
  width: 894px;

  margin: 0 auto;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;

  margin: 0;
  padding: 0;
  padding-left: 6px;
  padding-right: 6px;
}

.catalog-item {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  position: relative;
}

.catalog-item:hover,
.catalog-item:focus {
  z-index: 10;
}

.catalog-item:hover .quick-review,
.catalog-item:focus .quick-review {
  display: inline-block;
}

.catalog-item:hover .item-wrapper,
.catalog-item:focus .item-wrapper {
  position: absolute;

  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
}

.item-wrapper {
  display: flex;
  flex-direction: column;

  padding-top: 9px;
  padding-left: 11px;
  padding-right: 10px;
  padding-bottom: 17px;

  border-radius: 10px;
}

.product-hit .catalog-item::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 10px;

  width: 61px;
  height: 61px;

  background-image: url("../img/hit.svg");
}

.catalog-item h3 {
  width: 189px;
  order: 1;
  align-self: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;

  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
  text-align: center;

  margin: 0;
  margin-top: 12px;
  margin-bottom: 11px;
}

.catalog-item p {
  position: absolute;
  top: 149px;
  left: 8px;

  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  color: #ffffff;
  letter-spacing: 1px;

  margin: 0;
}

.catalog-item span {
  font-size: 30px;
}

.catalog-image {
  order: 0;

  border-radius: 140px 140px 140px 140px;
}

.quick-review {
  width: 193px;
  display: none;
  align-self: center;
  order: 3;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;

  margin-top: 20px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 9px;
  padding-left: 12px;
}

.features {
  width: 860px;

  color: #323232;

  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 40px;
  padding-top: 25px;

  background-color: #e8d8b1;
  background-image: url("../img/waffle-pattern.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.features-lead {
  width: 690px;

  font-size: 24px;
  font-weight: 500;
  line-height: 30px;

  margin: 0;
  margin-bottom: 22px;
  margin-left: 20px;
}

.features-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  list-style: none;

  margin: 0;
  padding: 0;
}

.features-item:nth-child(odd) {
  width: 343px;
}

.features-item:nth-child(even) {
  width: 342px;
}

.features-item {
  position: relative;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  margin: 0;
  margin-bottom: 22px;
  margin-left: 77px;
}

.features-item::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -58px;
  width: 49px;
  height: 49px;

  background-color: transparent;
}

.features-item-1::before {
  background-image: url("../img/ice-cream.svg");
}

.features-item-2::before {
  background-image: url("../img/cow.svg");
}

.features-item-3::before {
  background-image: url("../img/eco.svg");
}

.features-item-4::before {
  background-image: url("../img/thermometer.svg");
}

.index-column {
  width: 860px;
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  margin-bottom: 40px;
}

.blog {
  width: 420px;
  min-height: 220px;
  display: flex;
  flex-direction: column;

  padding-left: 20px;

  background-color: #ffffff;
  background-image: url("../img/strawberry-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  box-sizing: border-box;
  border-radius: 15px;
}

.blog b {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #5a5a5a;

  margin-top: 25px;
  margin-bottom: 4px;
}

.blog a {
  width: 288px;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #323232;

  text-decoration: underline;
}

.blog a:hover,
.blog a:focus,
.blog a:active {
  color: #e84d37;
}

.subscribe {
  width: 420px;

  font-weight: 400;
  color: #5a5a5a;

  padding: 5px;

  background-image: repeating-linear-gradient(135deg, #f8f7f4 0px, #f8f7f4 5px, #92cdff 5px,
      #92cdff 10px, #f8f7f4 10px, #f8f7f4 15px, #fe9e90 15px, #fe9e90 20px);
  border-radius: 15px;
  box-sizing: border-box;
}

.subscribe-wrapper {
  background-color: #f8f7f4;
  border-radius: 10px;
}

.subscribe .form-tip {
  top: -60px;
  left: -5px;
}

.subscribe p {
  width: 362px;

  margin: 0;
  margin-bottom: 13px;
  padding-top: 31px;
  padding-left: 21px;
}

.subscribe form {
  margin-left: 20px;
}

.subscribe input {
  width: 229px;

  box-sizing: border-box;
}

.subscribe button {
  padding: 10px 19px;
  margin-left: 9px;
  margin-bottom: 35px;
}

.map-wrapper {
  position: relative;
}

.map::before {
  width: 218px;
  height: 142px;
  content: "";
  position: absolute;
  top: 138px;
  left: 186px;

  background-image: url("../img/pin.png");
}

.map img {
  width: 900px;
  height: 430px;
  object-fit: cover;
}

.feedback-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;

  background-color: rgba(0, 0, 0, 0.3);
}

.feedback {
  position: absolute;
  top: 63px;
  left: 578px;
  width: 302px;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #323232;

  padding-top: 29px;
  padding-left: 25px;

  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
}

.feedback p {
  margin: 0;
}

.feedback b {
  display: inline-block;

  font-size: 18px;
  line-height: 24px;
}

.feedback-adress {
  width: 221px;

  margin-bottom: 18px;
}

.feedback-phone {
  margin-top: 5px;
}

.feedback button {
  margin-top: 26px;
  margin-bottom: 32px;
  padding: 10px 28px;
  padding-top: 9px;
}

button.close-form {
  width: 18px;
  height: 17px;
  position: absolute;
  top: 16px;
  right: 17px;

  font-size: 0;

  padding: 0;

  border: none;
  background-color: transparent;
}

.close-form::before,
.close-form::after {
  width: 22px;
  height: 2px;
  content: "";
  position: absolute;
  top: 8px;
  left: -2px;

  background-color: #323232;
}

.close-form::before {
  transform: rotate(45deg);
}

.close-form::after {
  transform: rotate(-45deg);
}

.feedback-form {
  width: 478px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 100px;
  left: 50%;
  z-index: 501;

  margin-left: -239px;
  padding-left: 24px;
  padding-top: 18px;
  padding-right: 25px;

  background-color: #f8f7f4;
  border-radius: 10px;
  box-sizing: border-box;
}

.feedback-form {
  display: none;
}

.feedback-form input {
  width: 265px;

  box-sizing: border-box;
}

.feedback-form .mail-tip {
  top: 35px;
  left: -252px;
}

.feedback-form textarea {
  width: 100%;

  padding-bottom: 0;

  box-sizing: border-box;
}

.feedback-form button {
  align-self: flex-end;

  margin-top: 0;
  margin-bottom: 27px;
}

.form-header {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.form-header b {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.main-footer {
  width: 900px;
  display: flex;
  flex-wrap: wrap;

  margin: 0 auto;
}

.social-list {
  width: 186px;
  display: flex;
  justify-content: space-between;
  position: relative;

  list-style: none;

  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 93px;
  margin-bottom: 26px;
}

.social-item {
  width: 32px;
  height: 32px;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 32px;
}

.social-item:hover,
.social-item:focus {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-item:active {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-item a::before {
  content: "";
  width: 32px;
  height: 32px;
  position: absolute;

  opacity: 0.8;
}

.social-item:hover a::before,
.social-item:focus a::before {
  opacity: 1;
}

.social-item:active a::before {
  opacity: 0.8;
}

.social-twitter a::before {
  background-image: url("../img/twitter.svg");
}

.social-instagram a::before {
  background-image: url("../img/instagram.svg");
}

.social-fb a::before {
  background-image: url("../img/fb.svg");
}

.social-vk a::before {
  background-image: url("../img/vk.svg");
}

.documents-list {
  width: 310px;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  list-style: none;

  margin: 0;
  padding: 0;
}

.documents-list li:first-of-type::before {
  content: "";
  width: 15px;
  height: 13px;
  position: absolute;
  top: 31px;
  left: -22px;

  background-image: url("../img/heart.svg");
}

.documents-list li:nth-child(1),
.documents-list li:nth-child(2) {
  align-self: flex-end;
}

.documents-list li:nth-child(odd) {
  width: 142px;
}

.documents-list a {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}

.documents-list a:hover,
.documents-list a:focus,
.documents-list a:active {
  color: #ffbc9e;
}

.documents-list a {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.4);
}

.producer {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #fefefe;

  margin-left: auto;
  margin-right: 19px;
  padding-top: 12px;
}

.producer a {
  color: #fefefe;

  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.4);
}

.producer a:hover,
.producer a:focus,
.producer a:active {
  color: #ffbc9e;
}

.producer p {
  margin: 0;
}

.catalog-page .user-navigation {
  margin-top: -9px;
}

.catalog-page .contacts-info {
  margin-top: -5px;
}

.background-wrapper {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent);
  background-size: 100% 656px;
  background-position: top center;
  background-repeat: no-repeat;
}

a.current-page {
  padding-bottom: 8px;

  background-color: #d07058;
  text-decoration: none;
}

a.current-page:hover,
a.current-page:focus {
  background-color: #d07058;

  color: #ffffff;
}

.basket.basket-content {
  background-color: #f8f7f4;
}

.basket-content .basket-button {
  color: #323232;
}

.basket:hover .table-wrapper {
  display: flex;
}

.basket-button:focus ~ .table-wrapper {
  display: flex;
}

.table-wrapper {
  width: 539px;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 10;

  padding-top: 17px;
  padding-left: 15px;
  padding-right: 14px;
  padding-bottom: 21px;

  background-color: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  box-sizing: border-box;
}

.order-content {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #323232;
}

.product-remove {
  width: 27px;
  position: relative;
}

.remove-button {
  width: 11px;
  height: 11px;
  position: absolute;
  top: 8px;
  right: 9px;

  font-size: 0;

  padding: 0;

  border: none;
  background-color: transparent;
}

.remove-button::before,
.remove-button::after {
  width: 15px;
  height: 1px;
  content: "";
  position: absolute;
  top: 8px;
  left: -2px;

  background-color: #323232;
}

.remove-button::before {
  transform: rotate(45deg);
}

.remove-button::after {
  transform: rotate(-45deg);
}

.order .product-name {
  width: 230px;

  padding-left: 13px;
}

.order .price-calc {
  padding-left: 18px;
  padding-right: 30px;
}

.price-calc span {
  color: #999999;
}

.order {
  position: relative;

  margin-bottom: 16px;
}

.order tr {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
}

.order td {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;

  padding: 0;
}

.order td:not(:nth-child(2)) {
  padding-top: 9px;
}

.order-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin-left: auto;
}

.order-price b {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  color: #323232;

  margin-bottom: 13px;
}

.order tr:last-child::after {
  width: 510px;
  height: 1px;
  content: "";
  position: absolute;
  left: 0;
  top: 115px;

  background-color: #cacac7;
}

.button-order {
  padding-top: 11px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 14px;
}

.catalog-content {
  width: 900px;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  margin-top: -18px;
}

.breadcrumbs-wrapper {
  display: flex;
  flex-direction: column-reverse;

  margin-left: 20px;
  margin-bottom: 26px;
}

.breadcrumbs-wrapper h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;

  margin: 0;
  margin-top: 3px;
}

.breadcrumbs {
  display: flex;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  list-style: none;

  margin: 0;
  padding: 0;
}

.breadcrumbs li {
  margin-right: 8px;
}

.breadcrumbs a {
  color: #ffffff;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
}

.breadcrumbs span {
  margin-left: 8px;
}

.catalog-filter {
  width: 860px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  margin: 0 auto;
  margin-bottom: 29px;
}

.catalog-filter label {
  display: inline-block;
}

.catalog-filter label,
.catalog-filter legend {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  margin-bottom: 5px;
  padding-left: 16px;
}

.catalog-filter fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.catalog-filter option {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #000000;

  background-color: rgba(255, 255, 255, 0.2);
}

.sorting-wrapper {
  width: 194px;

  margin-top: -4px;
}

.sorting-wrapper select {
  width: 194px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;

  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;

  background-color: rgba(248, 247, 244, 0.2);
  border: none;
  border-radius: 30px;
}

.sorting-wrapper select:hover {
  color: #000000;

  background-color: #ffffff;
}

.price-wrapper {
  display: flex;
}

.price-controls {
  display: flex;
  align-items: baseline;
}

.price-controls input {
  width: 29px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;

  margin: 0;
  padding: 0;
  padding-top: 1px;
  padding-left: 3px;

  background-color: transparent;
  border: none;
}

.price-controls label {
  padding: 0;
}

.range-controls {
  width: 176px;
  height: 20px;
  position: relative;

  padding-top: 17px;
  padding-left: 22px;
  padding-right: 22px;

  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 30px;
  bo
}

.scale {
  height: 4px;

  background-color: rgba(248, 247, 244, 0.5);
}

.bar {
  width: 107px;
  height: 4px;

  margin-left: 16px;

  background-color: #f8f7f4;
}

.toggle {
  width: 3px;
  height: 4px;
  position: absolute;
  top: 8px;

  padding: 0;

  border: 9px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;
}

.toggle-min {
  left: 35px;
}

.toggle-max {
  left: 133px;
}

.filter-fatness {
  width: 417px;
}

#fat-radio-1:checked ~ .fatness-wrapper .fatness-radio-1::before,
#fat-radio-2:checked ~ .fatness-wrapper .fatness-radio-2::before,
#fat-radio-3:checked ~ .fatness-wrapper .fatness-radio-3::before,
#fat-radio-4:checked ~ .fatness-wrapper .fatness-radio-4::before {
  border: 4px solid rgba(255, 255, 255, 1);
  box-shadow: inset 0 0 0 3px #aabcb2, inset 0 0 0 8px rgba(255, 255, 255, 1);
}

.fatness-wrapper  {
  margin-right: 2px;
  padding-top: 8px;
  padding-bottom: 4px;

  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 30px;
}

.fatness-wrapper label {
  position: relative;

  font-size: 16px;
  line-height: 18px;

  margin-left: 30px;
}

.fatness-wrapper label::before {
  content: "";
  position: absolute;
  left: -15px;
  top: -2px;

  width: 14px;
  height: 14px;

  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.8);
}

.fatness-wrapper label:hover::before,
.fatness-wrapper label:focus::before {
  border: 4px solid rgba(255, 255, 255, 1);
}

.fieldset-wrapper {
  width: 703px;

  margin-top: 17px;
}

.fillers-wrapper {
  padding-top: 6px;
  padding-bottom: 6px;

  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 30px;
}

.fillers-wrapper label {
  position: relative;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  margin-left: 32px;
}

.fillers-wrapper label::before {
  content: "";
  position: absolute;
  left: -15px;

  width: 16px;
  height: 16px;

  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 3px;
}

.fillers-wrapper label:hover::before,
.fillers-wrapper label:focus::before {
  border: 2px solid rgba(255, 255, 255, 1);
}

#fill-1:checked ~ .fillers-wrapper .filler-1::before,
#fill-2:checked ~ .fillers-wrapper .filler-2::before,
#fill-3:checked ~ .fillers-wrapper .filler-3::before,
#fill-4:checked ~ .fillers-wrapper .filler-4::before,
#fill-5:checked ~ .fillers-wrapper .filler-5::before {
  width: 24px;
  height: 21px;
  top: -2px;
  left: -17px;

  border-color: transparent;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter-button {
  align-self: flex-end;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;

  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 28px;
  padding-right: 27px;

  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 30px;
}

.filter-button:hover,
.filter-button:focus {
  color: #323232;

  background-color: #ffffff;
}

.filter-button:active {
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 30px;
  padding-right: 29px;

  background-color: #ededed;
  box-shadow: inset 0 2px 1px #696969;
  border: none;
}

.catalog-list.inner-page {
  width: 884px;

  margin: 0 auto;
}

.pagination {
  display: flex;
  flex-direction: row;

  margin-top: 54px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: 20px;
}

.pagination-list {
  width: 145px;
  display: flex;

  margin: 0;
  padding: 0;
  margin-left: 16px;
  margin-right: 16px;

  list-style: none;
}

.pagination button {
  width: 8px;
  height: 12px;
  position: relative;

  font-size: 0;

  margin-top: 7px;
  padding: 0;

  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.pagination button::before,
.pagination button::after {
  content: "";
  position: absolute;

  width: 8px;
  height: 1px;

  background-color: rgba(255, 255, 255, 1);
}

.arrow-prev::before {
  bottom: 3px;
  left: 0;
  transform: rotate(45deg);
}

.arrow-prev::after {
  top: 3px;
  left: 0;
  transform: rotate(-45deg);
}

.arrow-next::before {
  bottom: 3px;
  left: 0;
  transform: rotate(-45deg);
}

.arrow-next::after {
  top: 3px;
  left: 0;
  transform: rotate(45deg);
}

.pagination .arrow-prev::before,
.pagination .arrow-prev::after {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-list a {
  width: 27px;
  height: 26px;
  display: inline-block;

  text-align: center;

  margin-right: 3px;
  padding-top: 4px;

  border-radius: 50%;
  box-sizing: border-box;
}

.pagination-list a:hover,
.pagination-list a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-list a {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
}

.current-number a {
  color: #323232;

  background-color: #ffffff;
}

.main-footer.inner-page {
  position: relative;
}

.main-footer.inner-page::before {
  position: absolute;
  content: "";
  width: 860px;
  height: 1px;
  left: 20px;

  background-color: rgba(255, 255, 255, 0.3);
}

.inner-page .social-list {
  margin-top: 35px;
}

.inner-page .producer {
  padding-top: 17px;
}
