body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  vertical-align: top;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #fefefe;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background-color: #f26843;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background-image: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background-image: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border: none;
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.button:hover,
.button:focus {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background-image: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background-image: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  cursor: pointer;
}

.button:active {
  -webkit-box-shadow: inset 0 2px 2px #942718;
          box-shadow: inset 0 2px 2px #942718;
  background-color: rgba(0, 0, 0, 0.07);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f26843), to(#e74a35));
  background-image: -webkit-linear-gradient(bottom, #f26843 0%, #e74a35 100%);
  background-image: -o-linear-gradient(bottom, #f26843 0%, #e74a35 100%);
  background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}

.site-wrapper {
  background-position: top center;
  background-repeat: no-repeat;

  -webkit-transition: background-color 1s ease;

  -o-transition: background-color 1s ease;

  transition: background-color 1s ease;
}

.content-position {
  width: 1146px;
  position: relative;

  margin: 0 auto;
  padding-top: 9px;
  padding-left: 27px;
  padding-right: 27px;
}

.index-page {
  min-height: 881px;

  margin: 0 auto;

  background-position: top center;
}

.navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-navigation {
  width: 992px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

.site-navigation,
.user-navigation,
.catalog-sub-menu {
  list-style: none;

  margin: 0;
  padding: 0;
}

.site-navigation a,
.user-navigation a,
.catalog-sub-menu a {
  color: #ffffff;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 5;

  line-height: 18px;
  color: #ffffff;

  margin-top: 13px;
  margin-left: 10px;
}

.navigation-item {
  margin-right: 2px;

}

.navigation-item span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-navigation a {
  display: inline-block;
  vertical-align: top;

  padding: 9px 13px 10px 13px;

  background-color: transparent;
  border-radius: 80px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #000000;

  background-color: #f7f6f3;;

  text-decoration: none;
}

.site-navigation a:active {
  -webkit-box-shadow: inset 0 2px 1px #696969;
          box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
}

.catalog-sub-menu {
  display: none;
  position: absolute;
  left: -6px;
  width: 143px;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  margin-top: 5px;

  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

.catalog-sub-menu li:first-child {
  height: 38px;
  position: relative;
}

.catalog-sub-menu li:first-child::after {
  width: 128px;
  height: 1px;
  content: "";
  position: absolute;
  top: 37px;
  left: 6px;

  background-color: rgba(50, 50, 50, 0.2);
}

.catalog-sub-menu a {
  padding-top: 11px;
  padding-bottom: 11px;
}

.catalog-sub-menu a {
  color: #000000;

  padding-left: 21px;

  text-decoration: none;
}


.catalog-sub-menu a:hover,
.catalog-sub-menu a:focus {
  background-color: #fbded7;
}

.catalog-sub-menu a:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #f6b5a5;
}

.catalog-sub-menu li:hover,
.catalog-sub-menu li:focus {
  background-color: #fbded7;
}

.catalog-sub-menu li:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #f6b5a5;
}

.catalog-menu-top:hover .catalog-sub-menu,
.catalog-menu-top:focus .catalog-sub-menu {
  display: block;
}

.active-item {
  background-color: #d07058;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 262px;

  margin-top: -3px;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.user-navigation li {
  background-color: rgba(255, 255, 255, 0.2);
}

.user-navigation li:hover,
.user-navigation li:focus {
  color: #000000;

  background-color: #f8f7f4;
  cursor: pointer;
}

.login-form:hover path,
.login-form:focus path,
.basket:hover g,
.basket:focus g {
  fill: #000000;
}

.search-form {
  width: 33px;
  height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;

  border-radius: 50%;
  z-index: 10;
}

.search-form .search-field {
  width: 311px;
  height: 44px;

  box-sizing: border-box;
}

.search-button {
  width: 33px;
  height: 33px;
  position: relative;

  font-size: 0;

  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.search-wrapper::before {
  width: 100%;
  height: 15px;
  content: "";
  position: absolute;
  top: -10px;
  right: 0;
}

.search-form::before {
  width: 9px;
  height: 9px;
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;

  border: 2px solid #ffffff;
  border-radius: 50%;
}

.search-form::after {
  width: 2px;
  height: 9px;
  content: "";
  position: absolute;
  top: 17px;
  left: 21px;

  background-color: #ffffff;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.search-form:hover::before,
.search-form:focus::before {
  border: 2px solid rgba(51, 51, 51, 1);
}

.search-form:hover::after,
.search-form:focus::after {
  background-color: rgba(51, 51, 51, 1);
}

.search-form:hover .search-wrapper,
.search-form:focus .search-wrapper {
  display: block;
}

.search-wrapper {
  width: 341px;
  display: none;
  position: absolute;
  top: 36px;
  right: 0;

  padding: 20px 15px;

  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-wrapper:hover,
.search-wrapper:focus {
  display: block;
}

.user-navigation .search-field {
  margin-bottom: 0;
}

.form-label {
  position: relative;
}

.form-field {
  width: 100%;
  display: inline-block;
  vertical-align: baseline;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.3px;
  color: #999999;

  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 15px;
  margin-bottom: 20px;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  outline: none;
}

.form-field:focus {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #323232;
}

.form-field:hover {
  outline: 3px solid rgba(154, 154, 154, 0.52);
}

.form-field:focus {
  outline: 3px solid rgba(46, 136, 228, 0.52);
}

.search-field:focus ~ .search-tip,
.mail-field:focus ~ .mail-tip,
.password-field:focus ~ .password-tip,
.name-field:focus ~ .name-tip {
  display: block;
}

.form-tip {
  display: none;
  position: absolute;
  top: -30px;
  left: 16px;

  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  color: #5b9ddf;

  margin: 0;
  padding: 0;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;

  width: 93px;
  height: 33px;

  border-radius: 50px;
}

.login-form::after {
  width: 100%;
  height: 5px;
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0;
}

.login-wrapper {
  width: 277px;
  position: absolute;
  top: 36px;
  right: 0;

  padding-top: 20px;
  padding-left: 19px;
  padding-right: 17px;
  padding-bottom: 22px;

  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.login-wrapper .form-label {
  position: relative;
}

.login-wrapper input {
  width: 241px;
  height: 44px;
  display: inline-block;
  vertical-align: baseline;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;

  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 15px;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}

.login-wrapper a {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;

  margin-top: 3px;

  text-decoration: underline;
}

.login-wrapper a:hover,
.login-wrapper a:focus {
  color: #e84d37;
}

.login-wrapper button {
  width: 100px;

  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;

  box-sizing: border-box;
}

.login-form .login-wrapper {
  display: none;
}

.login-form:hover .login-wrapper {
  display: block;
}

.login-enter:focus ~ .login-wrapper {
  display: block;
}

.login-form svg {
  margin-left: 16px;
  margin-right: 7px;

  fill: #ffffff;
}

.form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-help {
  width: 130px;
  margin-left: 20px;
}

.login-enter,
.basket-button {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;

  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.login-form:hover .login-enter,
.login-form:focus .login-enter {
  color: #000000;
}

.basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 117px;
  height: 32px;

  border-radius: 50px;
}

.basket::after {
  width: 117px;
  height: 5px;
  content: "";
  position: absolute;
  bottom: 19px;
  right: 0;
}

.basket svg {
  margin-left: 16px;
  margin-right: 8px;

  fill: #ffffff;
}

.basket-content svg {
  fill:#343434;
}

.basket-red {
  fill: red;
}

.basket:hover .basket-button,
.basket:focus .basket-button,
.basket:hover svg,
.basket:focus svg {
  color: #000000;

  fill: #000000;
}

.contacts-info {
  width: 168px;

  font-size: 14px;
  line-height: 16px;
  text-align: right;

  margin: 0;
  margin-left: auto;
}

.contacts-info span {
  display: inline-block;
  vertical-align: baseline;

  font-size: 22px;
  line-height: 24px;

  margin-top: 4px;
}

.slider-wrapper {
  position: absolute;
  top: 83px;
}

.slider {
  width: 1146px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.slider-list {
  list-style: none;

  margin: 0 auto;
  padding: 0;
}

.slider-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  align-items: center;

  min-height: 584px;
}

.slider-item {
  display: none;
}

.slider-item img {
  position: absolute;
  left: 250px;
}

.slider-item h3 {
  position: absolute;
  top: 310px;
  left: 236px;
  z-index: 1;

  font-size: 60px;
  line-height: 60.35px;

  margin: 0 auto;

  text-align: center;
}

.slider-item h3 {
  width: 675px;
}

.slider-item-3 h3 {
  width: 650px;
  left: 248px;
}

.slider-item a {
  position: absolute;
  bottom: 61px;
  left: 433px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42px;
  padding-right: 42px;

  font-size: 32px;
  font-weight: 700;
  line-height: 44px;

  border-radius: 70px;
}

.slider-toggles {
  width: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 20;
  top: 480px;
  left: 0;

  margin: 0;
}

.slider-toggles label {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  font-size: 0;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-toggles label:hover,
.slider-toggles label:focus {
  background-color: rgba(248, 247, 244, 0.4);
}

.slider-input {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

.slider-input-1:checked ~ .site-wrapper .slider-item-1,
.slider-input-2:checked ~ .site-wrapper .slider-item-2,
.slider-input-3:checked ~ .site-wrapper .slider-item-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-input-1:checked ~ .site-wrapper label[for="product-1"],
.slider-input-2:checked ~ .site-wrapper label[for="product-2"],
.slider-input-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.slider-input-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-bg-1.png");
}

.slider-input-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-bg-2.png");
}

.slider-input-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-bg-3.png");
}

.promotion {
  position: relative;
  z-index: 2;

  margin: 0 auto;
  margin-top: -293px;
  margin-bottom: 31px;
}

.promotion-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  list-style: none;

  margin: 0;
  padding: 0;
  margin-top: 50px;
}

.promotion-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 560px;

  border-radius: 15px;
}

.promotion-list h3 {
  font-size: 35px;
  line-height: 41px;

  margin: 0;
  padding: 0;
  padding-top: 17px;
  padding-left: 19px;
  margin-bottom: 15px;
}

.promotion-list p {
  width: 515px;

  font-size: 18px;
  font-weight: 700;
  line-height: 22px;

  margin: 0;
  padding: 0;
  margin-left: 21px;
  margin-bottom: 46px;
}

.promotion-list a {
  display: inline-block;
  vertical-align: bottom;

  padding: 10px 22px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: 21px;

  box-sizing: border-box;
}

.raspberry a {
  width: 165px;
}

.chocolate a {
  width: 191px;
}

.raspberry {
  background-color: #390108;
  background-image: url("../img/raspberry-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.chocolate {
  background-color: #482512;
  background-image: url("../img/chocolate-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.catalog {
  margin: 0 auto;
}

.catalog-list {
  width: 1173px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  list-style: none;

  margin: 0 auto;
  margin-left: -13px;
  margin-right: -14px;
  padding: 0;
}

.catalog-item {
  width: 293px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;

  box-sizing: border-box;
}

.catalog-item:hover,
.catalog-item:focus {
  z-index: 10;
}

.catalog-item:hover .quick-review,
.catalog-item:focus .quick-review {
  display: inline-block;
}

.catalog-item:hover .item-wrapper,
.catalog-item:focus .item-wrapper {
  position: absolute;

  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);

          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
}

.item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  padding-top: 9px;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 17px;

  border-radius: 10px;
}

.product-hit .catalog-item::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 13px;

  width: 61px;
  height: 61px;

  background-image: url("../img/hit.svg");
}

.catalog-item h3 {
  width: 252px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;

  text-align: center;

  margin: 0;
  margin-top: 13px;
  margin-bottom: 10px;
}

.catalog-item .item-header {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-item p {
  position: absolute;
  top: 219px;
  left: 13px;

  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  color: #ffffff;
  letter-spacing: 1px;

  margin: 0;
}

.catalog-item span {
  font-size: 30px;
}

.catalog-image {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;

  border-radius: 50%;
}

.quick-review {
  width: 200px;
  display: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;

  margin-top: 20px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 9px;
  padding-left: 12px;
}

.features {
  color: #323232;

  margin: 0 auto;
  margin-top: 13px;
  margin-bottom: 40px;
  padding-top: 25px;

  background-color: #e8d8b1;
  background-image: url("../img/waffle-pattern.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.features-lead {
  width: 1001px;

  font-size: 24px;
  font-weight: 500;
  line-height: 30px;

  margin: 0;
  margin-bottom: 22px;
  margin-left: 20px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  list-style: none;

  margin: 0;
  padding: 0;
}

.features-item:nth-child(odd) {
  width: 480px;
}

.features-item:nth-child(even) {
  width: 482px;

  margin-left: 87px;
}

.features-item {
  position: relative;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  margin: 0;
  margin-bottom: 25px;
  margin-left: 76px;
}

.features-item::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -58px;
  width: 49px;
  height: 49px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.features-item-1::before {
  background-image: url("../img/ice-cream.svg");
  background-position: auto auto;
}

.features-item-2::before {
  background-image: url("../img/cow.svg");
}

.features-item-3::before {
  background-image: url("../img/eco.svg");
}

.features-item-4::before {
  background-image: url("../img/thermometer.svg");
}

.index-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin: 0 auto;
  margin-bottom: 40px;
}

.blog {
  width: 560px;
  min-height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  padding-left: 20px;

  background-color: #ffffff;
  background-image: url("../img/strawberry-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
}

.blog b {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #5a5a5a;

  margin-top: 23px;
  margin-bottom: 6px;
}

.blog a {
  width: 288px;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #323232;
}

.blog a:hover,
.blog a:focus,
.blog a:active {
  color: #e84d37;
}

.blog span {
  border-bottom: 1px solid #000000;
}

.blog span:hover,
.blog span:focus {
  border-bottom: 1px solid #e84d37;
}

.subscribe {
  width: 560px;

  font-weight: 400;
  color: #5a5a5a;

  padding: 5px;

  background-image: -webkit-repeating-linear-gradient(315deg, #f8f7f4 0px, #f8f7f4 5px, #92cdff 5px,
      #92cdff 10px, #f8f7f4 10px, #f8f7f4 15px, #fe9e90 15px, #fe9e90 20px);

  background-image: -o-repeating-linear-gradient(315deg, #f8f7f4 0px, #f8f7f4 5px, #92cdff 5px,
      #92cdff 10px, #f8f7f4 10px, #f8f7f4 15px, #fe9e90 15px, #fe9e90 20px);

  background-image: repeating-linear-gradient(135deg, #f8f7f4 0px, #f8f7f4 5px, #92cdff 5px,
      #92cdff 10px, #f8f7f4 10px, #f8f7f4 15px, #fe9e90 15px, #fe9e90 20px);
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subscribe-wrapper {
  background-color: #f8f7f4;
  border-radius: 10px;
}

.subscribe p {
  width: 506px;

  margin: 0;
  margin-bottom: 35px;
  padding-top: 31px;
  padding-left: 21px;
}

.subscribe form {
  margin-left: 20px;
}

.subscribe .mail-field {
  width: 368px;
  height: 44px;
  display: inline-block;
  vertical-align: baseline;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subscribe button {
  padding: 10px 19px;
  margin-left: 9px;
  margin-bottom: 35px;
}

.map-wrapper {
  position: relative;
}

.map {
  width: 1200px;

  margin: 0 auto;
  margin-left: -27px;
}

.map::before {
  width: 218px;
  height: 142px;
  content: "";
  position: absolute;
  top: 138px;
  left: 239px;

  background-image: url("../img/pin.png");
}

.map img {
  width: 1200px;
  height: 430px;
  -o-object-fit: cover;
     object-fit: cover;
}

.feedback {
  position: absolute;
  top: 63px;
  right: 0;
  width: 302px;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #323232;

  padding-top: 27px;
  padding-left: 25px;

  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.feedback p {
  margin: 0;
}

.feedback b {
  display: inline-block;
  vertical-align: baseline;

  font-size: 18px;
  line-height: 24px;
}

.feedback-adress {
  width: 221px;

  margin-bottom: 18px;
}

.feedback-phone {
  margin-top: 5px;
}

.feedback a {
  margin-top: 28px;
  margin-bottom: 32px;
  padding: 10px 28px;
  padding-top: 9px;
}

button.close-form {
  width: 18px;
  height: 17px;
  position: absolute;
  top: 16px;
  right: 17px;

  font-size: 0;

  padding: 0;

  border: none;
  background-color: transparent;
}

.close-form::before,
.close-form::after {
  width: 22px;
  height: 2px;
  content: "";
  position: absolute;
  top: 8px;
  left: -2px;

  background-color: #323232;
}

.close-form::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close-form::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.feedback-form {
  width: 478px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 150px;
  left: 50%;
  z-index: 501;

  margin-left: -239px;
  padding-left: 24px;
  padding-top: 18px;
  padding-right: 25px;

  background-color: #f8f7f4;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.feedback-form-show {
  display: flex;

  animation: bounce 0.6s;
}

.feedback-form .form-label {
  width: 265px;
}

.feedback-form input {
  height: 44px;
  -webkit-box-sizing: border-box;

          box-sizing: border-box;
}

.feedback-form .form-tip {
  top: -15px;
}

.feedback-form textarea {
  width: 100%;
  min-height: 155px;

  padding-bottom: 0;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
}

.feedback-form button {
  -ms-flex-item-align: end;
      align-self: flex-end;

  margin-top: 0;
  margin-bottom: 27px;
}

.feedback-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;

  background-color: rgba(0, 0, 0, 0.3);
}

.feedback-overlay-open {
  display: block;
}

.send-form {
  padding: 10px 24px;
}

.form-header {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.form-header b {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0 auto;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  list-style: none;

  margin: 0;
  padding: 0;
  margin-top: 35px;
  margin-right: 236px;
  margin-bottom: 28px;
}

.social-item {
  width: 32px;
  height: 32px;
  position: relative;

  margin-right: 11px;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-item:hover,
.social-item:focus {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-item:active {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-item a::before {
  content: "";
  width: 38px;
  height: 38px;
  position: absolute;
  top: -3px;
  left: -3px;

  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.social-item:hover a::before,
.social-item:focus a::before {
  opacity: 1;
}

.social-item:active a::before {
  opacity: 0.8;
}

.social-twitter a::before {
  background-image: url("../img/twitter.svg");
}

.social-instagram a::before {
  background-image: url("../img/instagram.svg");
}

.social-fb a::before {
  background-image: url("../img/fb.svg");
}

.social-vk a::before {
  background-image: url("../img/vk.svg");
}

.documents-list {
  width: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;

  list-style: none;

  margin: 0;
  padding: 0;
  padding-top: 24px;
}



.documents-list li:first-of-type {
  position: relative;
}

.documents-list li:first-child::before {
  content: "";
  width: 16px;
  height: 14px;
  position: absolute;
  top: 6px;
  left: -22px;

  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
}

.documents-list li:nth-child(3),
.documents-list li:nth-child(4) {
  margin-top: -25px;
}

.documents-list li:nth-child(odd) {
  width: 142px;
}

.documents-item {
  display: inline-block;
  vertical-align: bottom;
  height: 18px;
}

.documents-list a {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}

.documents-list a:hover,
.documents-list a:focus,
.documents-list a:active {
  color: #ffbc9e;
}

.documents-link span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.documents-link span:hover,
.documents-link span:focus {
  border-bottom: 1px solid rgba(255, 188, 158, 0.4);
}

.producer {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #fefefe;

  margin-left: auto;
  padding-top: 12px;
}

.producer a {
  color: #fefefe;

  text-decoration: underline;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.4);
          text-decoration-color: rgba(255, 255, 255, 0.4);
}

.producer a:hover,
.producer a:focus,
.producer a:active {
  color: #ffbc9e;
}

.producer p {
  margin: 0;
}

.catalog-page .user-navigation {
  margin-top: -9px;
}

.catalog-page .contacts-info {
  margin-top: -5px;
}

.background-wrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(transparent));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), transparent);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.2), transparent);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent);
  background-size: 100% 656px;
  background-position: top center;
  background-repeat: no-repeat;
}

a.current-page {
  padding-bottom: 8px;

  background-color: #d07058;
  text-decoration: none;
}

a.current-page:hover,
a.current-page:focus {
  background-color: #d07058;

  color: #ffffff;
}

.basket.basket-content {
  background-color: #f8f7f4;
}

.basket-content .basket-button {
  color: #323232;
}

.basket:hover .table-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.basket-button:focus ~ .table-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table-wrapper {
  width: 539px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 10;

  padding-top: 17px;
  padding-left: 15px;
  padding-right: 14px;
  padding-bottom: 21px;

  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.order-content {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #323232;
}

.product-remove {
  width: 27px;
  position: relative;
}

.remove-button {
  width: 11px;
  height: 11px;
  position: absolute;
  top: 8px;
  right: 9px;

  font-size: 0;

  padding: 0;

  border: none;
  background-color: transparent;
}

.remove-button::before,
.remove-button::after {
  width: 15px;
  height: 1px;
  content: "";
  position: absolute;
  top: 8px;
  left: -2px;

  background-color: #323232;
}

.remove-button::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.remove-button::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.order .product-name {
  width: 230px;

  padding-left: 13px;
}

.order .price-calc {
  padding-left: 18px;
  padding-right: 30px;
}

.price-calc span {
  color: #999999;
}

.order {
  position: relative;

  margin-bottom: 16px;

  border-bottom: 1px solid #cacac7;
}

.order tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 16px;
}

.order td {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;

  padding: 0;
}

.order td:not(:nth-child(2)) {
  padding-top: 9px;
}

.order-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;

  margin-left: auto;
}

.order-price b {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  color: #323232;

  margin-bottom: 13px;
}

.button-order {
  padding-top: 11px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 14px;
}

.catalog-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  margin: 0 auto;
  margin-top: -18px;
}

.breadcrumbs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;

  margin-bottom: 29px;
}

.breadcrumbs-wrapper h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;

  margin: 0;
  margin-top: 3px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  list-style: none;

  margin: 0;
  padding: 0;
}

.breadcrumbs li {
  margin-right: 8px;
}

.breadcrumbs a {
  color: #ffffff;

  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.4);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
  text-decoration-color: rgba(255, 188, 158, 0.4);
}

.breadcrumbs span {
  margin-left: 8px;
}

.catalog-filter {
  width: 860px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin: 0;
  margin-bottom: 31px;
}

.filter-price label,
.filter-fatness label {
  display: inline-block;
  vertical-align: baseline;
}

.filter-price label,
.filter-price legend,
.filter-fatness label,
.filter-fatness legend,
.fieldset-wrapper label,
.fieldset-wrapper legend {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;

  margin-bottom: 5px;
  padding-left: 15px;
}

.catalog-filter fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.catalog-filter option {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #000000;

  background-color: rgba(255, 255, 255, 0.2);
}

/* .sorting-wrapper {
  width: 194px;

  margin-top: -4px;
}

.sorting-wrapper select {
  width: 194px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;

  padding-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: rgba(248, 247, 244, 0.2);
  border: none;
  border-radius: 30px;
}

.sorting-wrapper select:hover {
  color: #000000;

  background-color: #ffffff;
} */

.sorting-wrapper {
  width: 194px;
  height: 37px;
  position: relative;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  background-color: #a9b9af;
  border-radius: 30px;
}

.sorting-wrapper input {
  display: none;
}

.select-label {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  margin: 0;
  margin-left: 16px;
  margin-bottom: 7px;
}

.select-default {
  width: 194px;
  height: 37px;
  display: block;
  position: absolute;
  top: 0;

  padding-top: 3px;
  padding-left: 16px;
  border-radius: 30px;

  box-sizing: border-box;
}

.select {
  width: 194px;
  height: 37px;
  display: inline-block;
  position: relative;

  line-height: 30px;
}

.select-default:before {
  width: 0;
  height: 0;
  content: "";
  position: absolute;
  right: 15px;
  top: 16px;
  z-index: 2;

  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #ffffff;
  cursor: pointer;
}

.select-value:not(:checked) ~ .select-default {
  color: #ffffff;

  background-color: #a9b9af;
}

.select-value:not(:checked) ~ .select-default:hover {
  color: #000000;

  background-color: #ffffff;
}

.select-value:not(:checked) ~ .select-default:hover::before {
  border-top-color: #000000;
}

.select-value:checked ~ .select-default {
  z-index: 2;

  color: transparent;

  background-color: transparent;
}

.select-value:checked ~ .select-default:hover {
  z-index: 2;

  color: transparent;

  background-color: transparent;
}

.items {
  width: 194px;
  min-height: 37px;
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: 2;

  cursor: pointer;
}

.items label {
  height: 37px;
  display: none;

  color: #000000;

  padding-top: 3px;
  padding-left: 16px;

  background-color: #a9b9af;
  border-top: 2px solid #ddd;
  box-sizing: border-box;
}

.items label:hover {
  color: #000000;

  background-color: #ffffff;

  cursor: pointer;
}

.select-open:checked ~ .items {
  padding-top: 37px;
}

.select-open:checked ~ .items label {
  display: block;
}

.select-value:checked + label {
  display: block;

  color: #ffffff;

  background-color: #a9b9af;
  border-radius: 30px;
  border: none;
}

.select-open:checked ~ .bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price-wrapper span {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  margin-bottom: 5px;
  padding-left: 16px;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.price-controls input {
  width: 29px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;

  margin: 0;
  padding: 0;
  padding-top: 1px;
  padding-left: 3px;

  background-color: transparent;
  border: none;
}

.price-controls label {
  padding: 0;
}

.range-controls {
  width: 176px;
  height: 20px;
  position: relative;

  padding-top: 17px;
  padding-left: 22px;
  padding-right: 22px;

  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 30px;
}

.scale {
  height: 4px;

  background-color: rgba(248, 247, 244, 0.5);
}

.bar {
  width: 107px;
  height: 4px;

  margin-left: 16px;

  background-color: #f8f7f4;
}

.toggle {
  width: 3px;
  height: 4px;
  position: absolute;
  top: 8px;

  padding: 0;

  border: 9px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;
}

.toggle-min {
  left: 35px;
}

.toggle-max {
  left: 133px;
}

.filter-fatness {
  width: 417px;
}

.fat-input-1:checked ~ .fatness-wrapper .fatness-radio-1::before,
.fat-input-2:checked ~ .fatness-wrapper .fatness-radio-2::before,
.fat-input-3:checked ~ .fatness-wrapper .fatness-radio-3::before,
.fat-input-4:checked ~ .fatness-wrapper .fatness-radio-4::before {
  border: 4px solid rgba(255, 255, 255, 1);
  -webkit-box-shadow: inset 0 0 0 3px #aabcb2, inset 0 0 0 8px rgba(255, 255, 255, 1);
          box-shadow: inset 0 0 0 3px #aabcb2, inset 0 0 0 8px rgba(255, 255, 255, 1);
}

.fatness-wrapper  {
  margin-right: 2px;
  padding-top: 8px;
  padding-bottom: 4px;

  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 30px;
}

.fatness-wrapper label {
  position: relative;

  font-size: 16px;
  line-height: 18px;

  margin-left: 30px;
}

.fatness-wrapper label::before {
  content: "";
  position: absolute;
  left: -15px;
  top: -2px;

  width: 14px;
  height: 14px;

  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.8);
}

.fatness-wrapper label:hover::before,
.fatness-wrapper label:focus::before {
  border: 4px solid rgba(255, 255, 255, 1);
}

.fieldset-wrapper {
  width: 703px;

  margin-top: 17px;
}

.fillers-wrapper {
  padding-top: 7px;
  padding-bottom: 7px;

  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 30px;
}

.fillers-wrapper label {
  position: relative;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  margin-left: 32px;
  padding-left: 17px;
}

.fillers-wrapper label::before {
  content: "";
  position: absolute;
  left: -15px;

  width: 16px;
  height: 16px;

  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 3px;
}

.fillers-wrapper label:hover::before,
.fillers-wrapper label:focus::before {
  border: 2px solid rgba(255, 255, 255, 1);
}

.filler-input-1:checked ~ .fillers-wrapper .filler-1::before,
.filler-input-2:checked ~ .fillers-wrapper .filler-2::before,
.filler-input-3:checked ~ .fillers-wrapper .filler-3::before,
.filler-input-4:checked ~ .fillers-wrapper .filler-4::before,
.filler-input-5:checked ~ .fillers-wrapper .filler-5::before {
  width: 24px;
  height: 21px;
  top: -2px;
  left: -17px;

  border-color: transparent;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter-button {
  -ms-flex-item-align: end;
      align-self: flex-end;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;

  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 28px;
  padding-right: 27px;

  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 30px;
}

.filter-button:hover,
.filter-button:focus {
  color: #323232;

  background-color: #ffffff;
}

.filter-button:active {
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 30px;
  padding-right: 29px;

  background-color: #ededed;
  -webkit-box-shadow: inset 0 2px 1px #696969;
          box-shadow: inset 0 2px 1px #696969;
  border: none;
}

.inner-page .item-wrapper {
  padding-top: 11px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;

  margin-top: 54px;
  margin-bottom: 30px;
  margin-left: 956px;
}

.pagination-list {
  min-width: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 0;
  margin-left: 16px;
  margin-right: 16px;

  list-style: none;
}

.pagination button {
  width: 8px;
  height: 12px;
  position: relative;

  font-size: 0;

  margin-top: 7px;
  padding: 0;

  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.pagination button::before,
.pagination button::after {
  content: "";
  position: absolute;

  width: 8px;
  height: 1px;

  background-color: rgba(255, 255, 255, 1);
}

.arrow-prev::before {
  bottom: 3px;
  left: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.arrow-prev::after {
  top: 3px;
  left: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.arrow-next::before {
  bottom: 3px;
  left: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.arrow-next::after {
  top: 3px;
  left: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.pagination .arrow-prev::before,
.pagination .arrow-prev::after {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-list a {
  width: 27px;
  height: 26px;
  display: inline-block;
  vertical-align: baseline;

  text-align: center;

  margin-right: 3px;
  padding-top: 4px;

  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pagination-list a:hover,
.pagination-list a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-list a {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
}

.current-number a {
  color: #323232;

  background-color: #ffffff;
}

.inner-page .documents-list {
  padding-top: 30px;
}

.main-footer.inner-page {
  position: relative;
}

.main-footer.inner-page {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.inner-page .producer {
  padding-top: 17px;
}
